#chart {
	text {
		fill: $text-color;
	}
}
.clickable-area {
  cursor: pointer;
}

/*.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}*/

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: $theme-color;
  stroke-width: 1.5px;
}

.node .portrait {
	stroke: $theme-color;
  	stroke-width: 1px;
}

.node .partner.no-partner {
	rect, circle, path, line {
		display: none;
	}
}

.node .heart {
	stroke: $theme-color;
	fill: #efefef;
	stroke-width: 4px;
}

// AXES
.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}