.clickable-area {
  cursor: pointer;
}

/*.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}*/

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: $gray;
  stroke-width: 1.5px;
}

.node .portrait {
	stroke: $gray;
  	stroke-width: 1px;
}

.node .partner.no-partner {
	rect, circle, path, line {
		display: none;
	}
}

.node .heart {
	stroke: $gray;
	fill: #efefef;
	stroke-width: 4px;
}